/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  background-color: $very-light-grayish-blue;
  font-family: $main-font;
  font-weight: 700;
  position: relative;
  min-height: 100vh;
  @include flexCenter;
  flex-direction: column;
}

li {
  list-style-type: none;
}
