@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

$main-font: "Montserrat", sans-serif;
$secondary-font: roboto, sans-serif;

$linear-gradient1: hsl(236, 72%, 79%);
$linear-gradient2: hsl(237, 63%, 64%);
$linear-gradient: linear-gradient(90deg, $linear-gradient1 0%, $linear-gradient2 100%);
$linear-gradientVert: linear-gradient(180deg, $linear-gradient1 0%, $linear-gradient2 100%);

/* Background */
$very-light-grayish-blue: hsl(240, 78%, 98%);
/* Frequency Options */
$light-grayish-blue: hsl(234, 14%, 74%);

$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);

$button-size: 13px;
$body-size: 15px;
$card-title-size: 18px;
$header-size: 32px;
$dollar-size: 40px;
$price-size: 69px;

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
