.card {
  height: 453px;
  width: 327px;
  background-color: white;
  border-radius: 8px;
  @include flexCenter;
  &__title {
    font-size: $card-title-size;
    margin-bottom: 21px;
  }
  .card__price {
    @include flexCenter;
    margin-bottom: 26px;
    &__dollar {
      font-size: $dollar-size;
      margin-right: 4px;
    }
    &__amount {
      font-size: $price-size;
    }
  }
  .features {
    margin-bottom: 32px;
    &__list {
      &__item {
        width: 267px;
        height: 54px;
        @include flexCenter;
        border-top: #dcdcdc 1px solid;
        @include _1024 {
          width: 288px;
        }
      }
      &__item:nth-child(3) {
        border-bottom: #dcdcdc 1px solid;
      }
    }
  }
  flex-direction: column;
  .learn-more {
    @include btnReset;
    width: 268px;
    height: 44px;
    border-radius: 8px;
    border: 1px white solid;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.1em;
    transition: all 150ms ease-in-out;
  }
}
