.header {
  @include flexCenter;
  flex-direction: column;
  &__h1 {
    font-size: $header-size;
    color: $grayish-blue;
    margin-bottom: 40px;
  }
  &__frequency {
    @include flexCenter;
    &__option {
      font-size: $body-size;
      color: $light-grayish-blue;
    }
    &__toggle-btn {
      width: 56px;
      height: 32px;
      background: $linear-gradient;
      border-radius: 16px;
      padding-left: 4px;
      padding-right: 4px;
      @include row;
      align-items: center;
      margin: 0 24px;
      .circle {
        width: 24px;
        height: 24px;
        background-color: white;
        border-radius: 12px;
      }
    }
  }
}
