.primary-card {
  background: $linear-gradient;
  @include _1024 {
    width: 350px;
    height: 500px;
  }
  h2,
  p,
  li {
    color: white;
  }
  .learn-more {
    background-color: white;
    color: $linear-gradient2;
    &:hover {
      background-color: transparent;
      color: white;
    }
  }
}
