.secondary-card {
  @include _1024 {
    width: 350px;
    height: 453px;
  }
  h2,
  p,
  li {
    color: $dark-grayish-blue;
  }
  .learn-more {
    background: $linear-gradient;
    color: white;
    &:hover {
      background: transparent;
      border-color: $linear-gradient2;
      color: $linear-gradient2;
    }
  }
}
